<div class="calendar">

    <div class="col leftCol">
        <div class="content">
            <h1 class="temp-date">Today is - {{calendarCtrl.tempDate | date : 'fullDate' }}</span></h1>

            <div class="add-event form-wr">
                <div class="form-title">Add event</div>
                <form ng-submit="calendarCtrl.createEvent()" name="addEventForm" novalidate>
                    <div class="input-wr">
                        <div class="title">Event title</div>
                        <input type="text" required ng-model="calendarCtrl.eventToAdd.title">
                    </div>
                    <div class="input-wr">
                        <div class="title">Event due date</div>
                        <input class="form-control" ng-required="true" ng-model="calendarCtrl.eventToAdd.date" ng-model-options="{ updateOn: 'blur' }" moment-picker="calendarCtrl.eventToAdd.date" format="YYYY-MM-DD">
                    </div>
                    <div class="input-wr">
                        <div class="title">Event start time</div>
                        <input class="form-control" ng-required="true" name="startDate" ng-value="calendarCtrl.eventToAdd.startTime | date : 'HH:mm'" ng-model-options="{ updateOn: 'blur' }" moment-picker="calendarCtrl.eventToAdd.startTime" show-header="false" format="HH:mm">
                    </div>
                    <div class="input-wr">
                        <div class="title">Event end time</div>
                        <input class="form-control" ng-required="true" name="endDate" ng-value="calendarCtrl.eventToAdd.endTime | date : 'HH:mm'" ng-model-options="{ updateOn: 'blur' }" moment-picker="calendarCtrl.eventToAdd.endTime" show-header="false" format="HH:mm">
                    </div>
                    <div ng-show="(calendarCtrl.eventToAdd.startTime > calendarCtrl.eventToAdd.endTime)" class="help-block">
                        The end date must be greater than the start date!
                    </div>
                    <div class="btns">
                        <button type="submit" ng-disabled="addEventForm.$invalid || (calendarCtrl.eventToAdd.startTime > calendarCtrl.eventToAdd.endTime)" class="btn">Save</button>
                    </div>
                </form>
            </div>
            <br>
            <br>
            <div class="edit-event form-wr">
                <div class="form-title">Edit event</div>
                <form ng-submit="calendarCtrl.updateEvent()" ng-show="calendarCtrl.eventToUpdate" name="editEventForm" novalidate>
                    <div class="input-wr">
                        <div class="title">Event title</div>
                        <input type="text" required ng-model="calendarCtrl.eventToUpdate.title">
                    </div>
                    <div class="input-wr">
                        <div class="title">Event start time</div>
                        <input class="form-control" name="startDate" ng-value="calendarCtrl.eventToUpdate.startTime | date : 'HH:mm'" ng-model-options="{ updateOn: 'blur' }" moment-picker="calendarCtrl.eventToUpdate.startTime" show-header="false" format="HH:mm">
                    </div>
                    <div class="input-wr">
                        <div class="title">Event end time</div>
                        <input class="form-control" name="endDate" ng-value="calendarCtrl.eventToUpdate.endTime | date : 'HH:mm'" ng-model-options="{ updateOn: 'blur' }" moment-picker="calendarCtrl.eventToUpdate.endTime" show-header="false" format="HH:mm">
                    </div>

                    <div ng-show="(calendarCtrl.eventToUpdate.startTime > calendarCtrl.eventToUpdate.endTime) " class="help-block">
                        The end date must be greater than the start date!
                    </div>
                    <div class="btns">
                        <button type="submit" ng-disabled="editEventForm.$invalid || (calendarCtrl.eventToUpdate.startTime > calendarCtrl.eventToUpdate.endTime)" class="btn">Save</button>
                    </div>
                </form>

                <div class="empty-set-msg" ng-show="! calendarCtrl.eventToUpdate">
                    Go to week view and click on event "edit" button to edit it
                </div>
            </div>

        </div>
    </div>

    <div class="col rightCol">
        <ui-view></ui-view>
    </div>

    <div class="clearfix"></div>

</div>